{% extends 'template.html' %}

{% block content %}
<div class="container">
    <title>
        Baixar | {{link.title}}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='donwload.css')}}">
    <h1>{{link.title}}</h1>
    <img src="{{link.thumbnail_url}}">
    <form action="{{url_for('view.download_video')}}" method="post">
        <select name="res">
            {% for i in link.streams.filter(progressive=True) %}
                <option>{{i.resolution}}</option>
            {% endfor %}
        </select><br>
        <input type="checkbox" id="mp3" name="mp3"><h1>Mp3</h1>
        <input type="submit" value="download">
    </form>
</div>

{% endblock %}